.list-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.list {
  background-color: rgba(255, 255, 255, 0.5);
  height: 8rem;
  overflow: auto;
  margin: 1rem;
}

.list-empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.list-empty-text {
  text-align: center;
}

.list-items {
  padding: 0.2rem 1rem;
  margin: 0;
}

.list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}