#root {
  margin: 0 auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;;
}

.aside {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-submit, .btn-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.btn-disabled {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.sql-files {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-title {
  margin-top: 0;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

.sql-upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 6rem;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.execution-log-content-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}