.container-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;;
}

.aside {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
}