.sql-files {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sql-files-button-container {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
}

.btn-disabled {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}