.form-title {
  margin: 0;
  padding: 1.5rem 0;
  font-size: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 14px;
  margin-bottom: 0.3rem;
}

.form-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}